@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;600&display=swap');

/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.35rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* Utility-Classes */

.small-bold-text {
    font-size: 0.9rem;
    font-weight: 600;
}

.support-text {
    font-size: 0.8rem;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section) ;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 4px;
    font-weight: 600;
    color: #ffffff !important;
    padding: 10px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 4px;
    color: var(--primary-text-color) !important;
    font-weight: 600;
    padding: 10px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

.fa-solid {
    color: var(--accent-color);
}

/* Top Banner */

.top-banner {
    background-color: #4fb3d4;
    background-image: url('assets/30.png');
    background-size: 300px;
}

.banner-text {
    color: #ffffff;
    text-align: center;
    padding: 15px 30px;
}

/* Nav Bar */

.company-logo img {
    width: 175px;
}

.main-nav {
    justify-content: space-between;
    margin-top: 25px;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    color: var(--accent-color);
}

.navlinks {
    flex-basis: 730px;
}

.navlinks ul{
    justify-content: end;
    gap: 30px;
    padding-right: 20px;
}

.sign-up-btn {
    margin: 0 -12px;
}

.nav-toggle {
    display: none;
}

/* Header */

header {
    padding: 50px var(--padding-inline-section) 40px;
}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-right img {
    width: 100%;
}

.header-left {
    max-height: 40vw;
}

.header-left h1 {
    margin-bottom: 10px;
}

.get-started-btn {
    margin-top: 25px;
}

/* Companies Section */

.companies-header {
    font-size: 1rem;
    text-align: center;
    margin: 10px 0;
}

.logos {
    margin: 25px 0;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.logo {
    height: 45px;
}

#Godaddy {
    height: 32px;
}

/* Features Section */

.features {
    background-image: url(/assets/32.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header {
    text-align: center;
}

.features {
    padding: 105px var(--padding-inline-section) 0;
}

.features-heading-h2 {
    margin-bottom: 10px;

}

.features-area {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.features-card {
    flex-direction: column;
    gap: 12px;
    max-width: 27%;
    text-align: center;
}

.features-card img {
    width: 40px;
}

.features-card a {
    margin-top: 5px;
}

/* big features section */

.big-features {
    padding: 0 var(--padding-inline-section);
}

.big-features-1 {
    margin-top: 70px;
}

.big-feature-container {
    gap: 50px;
}

.big-feature-left {
    max-width: 50%;
}

.big-feature-left img {
    width: 95%;
}

.big-feature-right {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 40%;
}

#second-big-feature {
    flex-direction: row-reverse;
}

#chartmogul {
    width: 105px;
}

.big-features-h3 {
    font-size: 2rem;
}

.big-features-pre-text {
    font-weight: 600;
    color: var(--primary-text-color);
}

/* example section */

.example {
    margin-top: 80px;
}

.example-header {
    text-align: center;
}

.example-heading-h2 {
    font-size: 2.5rem;
    margin-top: 20px;
}

.see-more-example-button {
    margin-top: 15px;
}

.examples-area {
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.examples-card {
    width: 23.7%;
    position: relative;
    height: 327px;
    transition: 0.2s ease-out;
}

.examples-card:hover {
    box-shadow: 0 0 10px #888888;
}

.card-text {
    font-size: 1.3rem;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    color: #FFFFFF;
}

.example-card-1 {
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(assets/34.jpeg);
    background-size: cover;
}

.example-card-2 {
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(assets/35.jpeg);
    background-size: cover;
}

.example-card-3 {
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(assets/36.jpeg);
    background-size: cover;
}

.example-card-4 {
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(assets/37.jpeg);
    background-size: cover;
}

/* CTA section */

.cta {
    margin-top: 40px;
    background-color: #183B54;
    padding: 100px var(--padding-inline-section);
}

.cta-container {
    flex-direction: column;
    gap: 30px;
    color: #FFFFFF;
}

.cta-container p {
    color: #FFFFFF;
    margin-top: 20px;
}

/* Footer section */

footer {
    padding: 80px 0;
    background-color: #EBF2FA;
}

.footer-container {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 130px;
}

.footer-left {
    max-width: 200px;
}
.footer-right {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 125px;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.link-column h4 {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.footer-company-logo img{
    width: 152px;
}

/* Sub footer section */

.sub-footer {
    background-color: #B9CDE4;
}

.sub-footer-container {
    padding: 20px;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}