/* Media Query for large devices like tablet, Ipad, etc */

@media screen and (max-width: 991px) {

    html {
        font-size: 14px;
    }

    /* Nav-Bar */

    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .navlinks {
        position: absolute;
        background-color: #FFFFFF;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 30px;
    }

    .navlinks.active {
        left: 0;
    }

    .main-nav {
        overflow: initial;
    }

    .navlinks ul{
        flex-direction: column;
    }

    /* example section*/

    .examples-area {
        gap: 20px;
    }

    .examples-card {
        width: calc(50% - 10px);
        height: 188px;
    }

    /* CTA section */

    .cta {
        padding-block: 80px;
    }

    /* footer section*/

    .footer-container {
        gap: 70px;
    }

    .footer-right {
        gap: 70px;
    }
}